<!--<div class="modal-header">-->
  <!--<h3 class="modal-title">{{currentDoc.title}}</h3>-->
<!--</div>-->
<div class="modal-body">

  <article>
    <header>
      <h2 ng-bind-html="currentDoc.hltitle"></h2>
    </header>
    <aside>
      <p ng-bind-html="currentDoc.hlsnippet"> </p>
    </aside>
    <p ng-repeat="p in currentDoc.hltext.split('\n') track by $index">
      <span ng-bind-html="p"> </span>
    </p>
    <footer>
      <p>Posted {{currentDoc.createdAt}}</p>
      <div class="form-group">
        <label>Is this article relevant?</label>
        <label class="radio-inline">
          <input type="radio" name="yes" value="1" ng-model="currentDoc.label"ng-click="saveEdit(currentDoc)">
          yes
        </label>
        <label class="radio-inline">
          <input type="radio" name="no" value="2" ng-model="currentDoc.label" ng-click="saveEdit(currentDoc)">
          no
        </label>
      </div>

      <div class="form-group">
        <label>How to label this article?</label>
        <select  ng-model="selectedRisk">
          <option ng-repeat="option in predefinedRisks" value="{{option.id}}">{{option.name}}</option>
        </select>
        <label>Risk</label>
        <label>From</label>
        <select  ng-model="selectedFromCompany">
          <option ng-repeat="option in predefinedCompanies" value="{{option.id}}">{{option.name}}</option>
        </select>
        <label>To</label>
        <select  ng-model="selectedToCompany">
          <option ng-repeat="option in predefinedCompanies" value="{{option.id}}">{{option.name}}</option>
        </select>
        <a ng-click="labelSubmit()" class="btn btn-default btn-circle"><i class="fa fa-floppy-o"></i></a>
      </div>
      <!--<tags-input ng-model="currentDoc.docType"></tags-input>-->
      <!--{{selectedRisk}}-->
      <!--{{selectedFromCompany}}-->
      <!--{{selectedToCompany}}-->
      <!--{{currentDoc.id}}-->
      <!--{{currentProject.id}}-->
      <div class="tags clearfix" ng-repeat="tag in tags">
        <div class="tag">{{tag}}</div>
      </div>
    </footer>
  </article>
</div>
<div class="modal-footer">
  <!--<button class="btn btn-primary" type="button" ng-click="saveEdit(currentDoc)">Save</button>-->
  <button class="btn btn-warning" type="button" ng-click="cancel()">Close</button>
</div>
  <!--<ul>-->
    <!--<li ng-repeat="item in items">-->
      <!--<a href="#" ng-click="$event.preventDefault(); selected.item = item">{{ item }}</a>-->
    <!--</li>-->
  <!--</ul>-->
  <!--Selected: <b>{{ selected.item }}</b>-->
<!--<div class="modal-footer">-->
  <!--<button class="btn btn-primary" type="button" ng-click="ok()">OK</button>-->
  <!--<button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>-->
<!--</div>-->