<div class="modal-header">
  <div class = "row">
    <div class="col-md-10">
      <small>From Search: {{displaySearch.string}} </small>
    </div>
    <div class="col-md-2">
      <div class="col-lg-6">
        <a ng-click="openNextGdoc(-1)" class="btn btn-default"><i class="fa fa-arrow-left"></i></a>
      </div>
      <div class="col-lg-6">
        <a ng-click="openNextGdoc(1)" class="btn btn-default"><i class="fa fa-arrow-right"></i></a>
      </div>
    </div>
  </div>
</div>

<div class="modal-body row" id="gdoc-container">
  <div class="col-lg-2 left-panel" id="gdoc-meta-box">
    <p ng-show ="currentDoc.url"> <a href="{{currentDoc.url}}" target="_blank">Original article</a></p>
    <p ng-show ="currentDoc.rank"><strong>Google rank</strong>: {{currentDoc.rank}}</p>
    <p ng-show ="currentDoc.docType"><strong>Doc type</strong>: {{currentDoc.docType}}</p>
    <hr>
    <div>
      <span class="label label-primary">Organization</span><br>
      <span class="ner-words" ng-repeat="p in currentDoc.nerwords.org" ng-class="wcls"
            ng-mouseover="wcls= wcls=='ner-clicked'? 'ner-clicked':'ner'" ng-mouseleave="wcls= wcls=='ner-clicked'? 'ner-clicked':''"
            ng-click="wcls='ner-clicked'; addKeywords(p)"> {{p}}; </span>
    </div>
    <div>
      <span class="label label-success">Location</span><br>
      <span class="ner-words" ng-repeat="p in currentDoc.nerwords.location" ng-class="wcls"
            ng-mouseover="wcls= wcls=='ner-clicked'? 'ner-clicked':'ner'" ng-mouseleave="wcls= wcls=='ner-clicked'? 'ner-clicked':''"
            ng-click="wcls='ner-clicked'; addKeywords(p)"> {{p}}; </span>
    </div>
    <div>
      <span class="label label-warning">Person</span><br>
      <span class="ner-words" ng-repeat="p in currentDoc.nerwords.person" ng-class="wcls"
            ng-mouseover="wcls= wcls=='ner-clicked'? 'ner-clicked':'ner'" ng-mouseleave="wcls= wcls=='ner-clicked'? 'ner-clicked':''"
            ng-click="wcls='ner-clicked'; addKeywords(p)"> {{p}}; </span>
    </div>
    <div>
      <span class="label label-info">Product</span><br>
    </div>
    <hr>
    <div>
        <span class="label label-danger">Risk Keywords</span><br>
        <span class="risk-words" ng-repeat="p in currentDoc.risks" ng-class="wcls"
        ng-mouseover="wcls= wcls=='risk-clicked'? 'risk-clicked':'risk'" ng-mouseleave="wcls= wcls=='risk-clicked'? 'risk-clicked':''"
        ng-click="wcls='risk-clicked'; addRisks(p)"> {{p.risk}}; </span>
    </div>
  </div>

  <div class="col-lg-6 mid-panel" >
    <header>
      <h4 ng-bind-html="currentDoc.hltitle"></h4>
    </header>
    <p><em><small>Collected at {{currentDoc.createdAt}}</small></em></p>
    <div highlight keywords="{{currentDoc.keywords}}" text="{{currentDoc.text}}" highlight-class="keywords"></div>
    <!--<p ng-repeat="p in currentDoc.text.split('\n') track by $index">-->
      <!--<span ng-bind-html="p"> </span>-->
    <!--</p>-->
  </div>

  <div class="col-lg-4 right-panel" id="gdoc-label-box" >
      <button class="btn btn-primary btn-sm" ng-click="toggleSave4later(currentDoc)">
        <span ng-if="!currentDoc.reviewLater">Save for later review</span>
        <span ng-if="currentDoc.reviewLater">Remove from later review</span>
      </button>
    <table class="table table-striped">
    <thead>
    <tr>
        <th><label class="control-label">Relevant?</label></th>
        <th><label class="control-label" ng-show="currentDoc.predictedScore != null">Prediction</label></th>
    </tr></thead>
    <tbody>
    <tr>
    <td>
    <div class="label-div" >
        <input type="radio" name="yes" ng-checked="currentDoc.relevance=='y'" value="y" ng-model="currentDoc.relevance" ng-click="updateRelevance(currentDoc)"> Y
        <input type="radio" name="maybe" ng-checked="currentDoc.relevance=='m'" value="m" ng-model="currentDoc.relevance" ng-click="updateRelevance(currentDoc)"> M
        <input type="radio" name="no" ng-checked="currentDoc.relevance=='n'" value="n" ng-model="currentDoc.relevance" ng-click="updateRelevance(currentDoc)"> N
    </div>
    </td>
    <td>
      <div ng-show="currentDoc.predictedScore != null">
              <div ng-if="currentDoc.predictedScore<0"><h5><span class="label label-default">Relevance:{{0}}</span></h5></div>
              <div ng-if="currentDoc.predictedScore>1"><h5><span class="label label-success">Relevance:{{1}}</span></h5></div>
              <div ng-if="currentDoc.predictedScore>=0 && currentDoc.predictedScore<=1"><h5><span class="label" ng-class="{'label-default': currentDoc.predictedScore<0.1, 'label-danger': currentDoc.predictedScore>=0.10 && currentDoc.predictedScore<0.3, 'label-warning': currentDoc.predictedScore>=0.3 && currentDoc.predictedScore<0.5, 'label-info': currentDoc.predictedScore>=0.5 && currentDoc.predictedScore<0.6,'label-primary': currentDoc.predictedScore>=0.6 && currentDoc.predictedScore<0.8, 'label-success': currentDoc.predictedScore>=0.8}" ng-show="currentDoc.predictedScore">Relevance:{{currentDoc.predictedScore}}</span></h5></div>

      </div>
    </td>
    </tr>
    </tbody>
    </table>
    <hr>
    <table>
    <thead>
      <tr>
          <th><label class="control-label" for="a">Risk Tagging</label></th>
      </tr>
    </thead>
    <tbody>
    <tr>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Companies</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                  <table>
                    <tr>
                      <td>
                          <div class="form-group form-group-sm">
                            <label> Add Company: </label>
                            <input type="text" ng-model="selectedFromCompany1" uib-typeahead="company.name for company in predefinedCompanies | filter:$viewValue | limitTo:8"
                                class="form-control" typeahead-no-results="noResults">
                          </div>
                          <a ng-click="companySubmit()" class="btn btn-default btn-circle pull-right"><i class="fa fa-plus"></i></a>
                      </td>
                    </tr>
                    <tr>
                      <td>
                          <div class="label label-info" ng-show="selectedBuyerCompany!=null"><strong>{{ selectedBuyerCompany}}</strong></div>
                          <div class="label label-info" ng-show="selectedSupplierCompany!=null"><strong>{{ selectedSupplierCompany}}</strong></div>
                      </td>
                    </tr>
                  </table>
                </td>
                <td>
                  <table>
                    <tr>
                        <td><label class="control-label" for="a">Buyer: </label>
                            <div>
                                <select class="form-control" ng-model="selectedBuyerCompany" style="width:100px;">
                                <option ng-repeat="option in predefinedCompanies" value="{{option.name}}" >{{option.name}}</option>
                                </select>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td><br><label class="control-label" for="a">Supplier: </label>
                        <div>
                            <select class="form-control" ng-model="selectedSupplierCompany" style="width:100px;">
                                <option ng-repeat="option in predefinedCompanies" value="{{option.name}}">{{option.name}}</option>
                            </select>
                        </div>
                        </td>
                    </tr>
                   </table>
                </td>
            </tr>
            </tbody>
            <thead>
            <tr>
                <th><label class="control-label" for="a">Item/Components</label></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td><input type="text" ng-model="selectedItems" uib-typeahead="item.name for item in predefinedItems | filter:$viewValue | limitTo:8"
               class="form-control" typeahead-no-results="noResults"></td>
                <td><a ng-click="labelItemSubmit()" class="btn btn-default btn-circle pull-right"><i class="fa fa-plus"></i></a></td>
            </tr>
            </tbody>
        </table>
    </tr>
    </tbody>
    </table>
    <hr>
    <table class="table table-striped">
        <thead>
        <tr>
            <th></th>
            <th>Major Risk</th>
            <th>Sub Risk</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td><span class="label label-success" uib-tooltip="Primary Risk">P</span></td>
            <td>
                <div>
                <select class="form-control" id="a" ng-model="majorRisk" ng-options="option as option.name for option in predefinedRisks"  style="width:100px;">
                  <option value="">--</option>
                <!--option ng-repeat="option in predefinedRisks" value="{{option.id}}">{{option.name}}</option-->
                </select>
                </div>
            </td>
            <td><input type="text" ng-model="subRisk1" uib-typeahead="item.name for item in predefinedsubRisk | filter:$viewValue | limitTo:8"
               class="form-control" typeahead-no-results="noResults"></td>
        </tr>
        <tr ng-show="majorRisk!=null">
            <td><span class="label label-primary" uib-tooltip="Secondary Risk">S</span></td>
            <td>
                <select  class="form-control" id="a" ng-model="secondaryRisk" ng-options="option as option.name for option in predefinedRisks" style="width:100px;">
                    <option value="">--</option>
                </select>

            </td>
            <td><input type="text" ng-model="subRisk2" uib-typeahead="item.name for item in predefinedsubRisk | filter:$viewValue | limitTo:8"
               class="form-control" typeahead-no-results="noResults"></td>
        </tr>
        <tr ng-show="majorRisk!=null && secondaryRisk!=null">
            <td><span class="label label-warning" uib-tooltip="Tertiary Risk">T</span></td>
            <td>
                <select class="form-control" id="a" ng-model="TertiaryRisk" ng-options="option as option.name for option in predefinedRisks" style="width:100px;">
                    <option value="">--</option>
                </select>

            </td>
            <td><input type="text" ng-model="subRisk3" uib-typeahead="item.name for item in predefinedsubRisk | filter:$viewValue | limitTo:8"
               class="form-control" typeahead-no-results="noResults"></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td><a ng-click="labelRiskSubmit()" class="btn btn-default btn-circle pull-right"><i class="fa fa-plus"></i></a></td>
        </tr>
        </tbody>
    </table>

    <form class="label-div">
      <div class="form-group  form-group-sm">
        <label class="control-label" for="a">Risk: </label>
        <div>
          <select class="form-control" id="a" ng-model="selectedRisk">
            <option ng-repeat="option in predefinedRisks" value="{{option.id}}">{{option.name}}</option>
          </select>
        </div>
      </div>
      <div class="form-group form-group-sm">
        <label>From: </label>
        <input type="text" ng-model="selectedFromCompany" uib-typeahead="company.name for company in predefinedCompanies | filter:$viewValue | limitTo:8"
               class="form-control" typeahead-no-results="noResults">
        <!--<select  class="form-control " ng-model="selectedFromCompany">-->
          <!--<option ng-repeat="option in predefinedCompanies" value="{{option.id}}">{{option.name}}</option>-->
        <!--</select>-->
      </div>
      <a ng-click="labelSubmit()" class="btn btn-default btn-circle pull-right"><i class="fa fa-plus"></i></a>
    </form>


    <div class="tags clearfix" ng-repeat="tag in tags">
      <div class="tag">{{tag}}</div>
    </div>
  </div>
</div>

<div class="modal-footer">
  <!--<button class="btn btn-primary" type="button" ng-click="saveEdit(currentDoc)">Save</button>-->
  <button class="btn btn-warning" type="button" ng-click="cancel()">Close</button>
</div>
  <!--<ul>-->
    <!--<li ng-repeat="item in items">-->
      <!--<a href="#" ng-click="$event.preventDefault(); selected.item = item">{{ item }}</a>-->
    <!--</li>-->
  <!--</ul>-->
  <!--Selected: <b>{{ selected.item }}</b>-->
<!--<div class="modal-footer">-->
  <!--<button class="btn btn-primary" type="button" ng-click="ok()">OK</button>-->
  <!--<button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>-->
<!--</div>-->