<div>
  <div class="modal-header">
    Generate searches
  </div>
  <div class="well well-lg modal-body" id="adv-search">
    <div ng-if="msg" class="alert" ng-class="msg_class">
      {{msg}}
    </div>
    <div class="row" ng-show="!showSearchListBool">
      <div class="col-lg-6">
          <div class="col-lg-6">
            <div class="panel panel-default search-panel">
              <div class="panel-heading">
                Search Names
              </div>
              <div class="panel-body">
                <select multiple class="form-control" size = "10" ng-multiple="true" ng-model="gsearchOptions.selectedSearchNames" ng-options="c.name for c in availableSearchNames">
                </select>
                <a ng-click="addSearchName()" class="btn btn-default btn-circle" uib-tooltip="Add search name"><i class="fa fa-plus"></i></a>
                <a ng-click="editSearchName(gsearchOptions.selectedSearchNames)" class="btn btn-default btn-circle" uib-tooltip="Edit search name"><i class="glyphicon glyphicon-edit"></i></a>
                <a ng-click="deleteSearchNames(gsearchOptions.selectedSearchNames)" class="btn btn-default btn-circle" uib-tooltip="Delete search name"><i class="fa fa-minus"></i></a>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="panel panel-default search-panel">
              <div class="panel-heading">
                Search String
              </div>
              <div class="panel-body">
                <textarea class="form-control" ng-model="gsearchOptions.selectedSearchNames[0].searchString" rows="10"></textarea>
              </div>
            </div>
          </div>
          <form id="search-edit" role="form"  ng-show="editSearchNameBool">
            <div class="form-group col-lg-6">
              <input type="text" ng-model="newSearchName.name" class="form-control" placeholder="search name"/>
            </div>
            <div class="form-group col-lg-6">
              <input type="text" ng-model="newSearchName.searchString" class="form-control" placeholder="search string"/>
            </div>
            <div class="pull-right edit-button">
              <button class="btn btn-sm btn-primary" ng-click='cancelEditSearchName()'>cancel</button>
              <input type="submit" class="btn btn-sm btn-primary" ng-click="saveEditSearchName(newSearchName)" value="Save"/>
            </div>
          </form>
      </div>
      <div class="col-lg-6">
        <div class="col-lg-6">
          <div class="panel panel-default search-panel">
            <div class="panel-heading">
              Company List
            </div>
            <div class="panel-body">
              <select multiple class="form-control" size = "10" ng-multiple="true" ng-model="gsearchOptions.selectedCompanyNames" ng-options="c.name for c in companyNames">
              </select>
              <a ng-click="addCompany()" class="btn btn-default btn-circle" uib-tooltip="Add company"><i class="fa fa-plus"></i></a>
              <a ng-click="editCompany(gsearchOptions.selectedCompanyNames)" class="btn btn-default btn-circle" uib-tooltip="Edit company"><i class="glyphicon glyphicon-edit"></i></a>
              <a ng-click="deleteCompanies(gsearchOptions.selectedCompanyNames)" class="btn btn-default btn-circle" uib-tooltip="Delete company"><i class="fa fa-minus"></i></a>
              <a type="file" ngf-select="uploadFiles($file, $invalidFiles)" class="btn btn-default btn-circle" uib-tooltip="Upload csv company list"
                     accept=".csv" ngf-max-height="1000" ngf-max-size="1MB"><i class="glyphicon glyphicon-upload"></i> </a>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="panel panel-default search-panel">
            <div class="panel-heading">
              Name Variations
            </div>
            <div class="panel-body">
              <select multiple class="form-control" size = "10" ng-multiple="true" ng-model="gsearchOptions.selectedVariations" ng-options="c for c in gsearchOptions.selectedCompanyNames[0].variations">
              </select>
              <a ng-click="addVariation()" class="btn btn-default btn-circle" uib-tooltip="Add company variation"><i class="fa fa-plus"></i></a>
              <a ng-click="deleteVariations(gsearchOptions.selectedVariations)" class="btn btn-default btn-circle" uib-tooltip="Delete company variation"><i class="fa fa-minus"></i></a>
            </div>
          </div>
        </div>
        <form id="company-edit" role="form"  ng-show="editCompanyBool">
          <div class="form-group col-lg-6">
            <input type="text" ng-model="newCompany.name" class="form-control" placeholder="company name"/>
          </div>
          <div class="form-group col-lg-6">
            <input type="text" ng-model="newCompany.to_variations" class="form-control" placeholder="variations separated by ';'"/>
          </div>
          <div class="edit-button pull-right">
            <button class="btn btn-sm btn-primary" ng-click='cancelEditCompany()'>Cancel</button>
            <input type="submit" class="btn btn-sm btn-primary" ng-click="saveEditCompany(newCompany)" value="Save"/>
          </div>
        </form>
        <form id="variation-edit" role="form"  ng-show="editVariationBool">
          <div class="col-lg-6"></div>
          <div class="form-group col-lg-6">
            <input type="text" ng-model="newVariation.name" class="form-control" placeholder="new variation"/>
          </div>
          <div class="edit-button pull-right">
            <button class="btn btn-sm btn-primary" ng-click='cancelEditVariation()'>Cancel</button>
            <input type="submit" class="btn btn-sm btn-primary" ng-click="saveEditVariation(newVariation)" value="Save"/>
          </div>
        </form>
      </div>
    </div>
    <div class="pull-right" id="gen-search-btn" ng-show="!showSearchListBool">
      <button class="btn btn-primary" ng-click="generateSearches()">Generate Searches</button>
    </div>

    <div class="row" ng-show="showSearchListBool && !boolGdocs">
      <div class="col-lg-12" >
        <table class="table table-hover">
          <thead>
          <tr>
            <th>Search Name</th>
            <th>Search Company</th>
            <th>Search String</th>
            <th>Search?</th>
          </tr>
          </thead>
          <tr ng-repeat="search in newSearches">
            <td>{{search.searchName}}</td>
            <td>{{search.companyName}}</td>
            <td>{{search.string}}</td>
            <td>
              <input type="checkbox" ng-model="search.use">
            </td>
          </tr>
        </table>
        <div class="pull-right">
          <a class="btn btn-danger btn" ng-click="cancelGenearateSearch()">Cancel</a>
          <a class="btn btn-primary" ng-click="batchSearch(newSearches)">Google them!</a>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
    <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
  </div>
</div>
