<!--<div >-->
  <!--<a class="btn btn-danger btn-sm" href="/#/projects">Back to Projects</a>-->
<!--</div>-->

<div class="row ubox">
  <div class="col-sm-3" id="upload">
    <form class="form-group">
    <input type="file" ngf-select="uploadFiles($file, $invalidFiles)" class="btn btn-primary btn-sm"
            accept=".csv" ngf-max-height="1000" ngf-max-size="1MB">
    <!--{{f.name}} {{errFile.name}} {{errFile.$error}} {{errFile.$errorParam}}-->
    </form>
  </div>
  <div class="col-sm-4" id="up-progressbar" ng-if="f.progress>0">
    <uib-progressbar value="f.progress" type="success"><span style="color:white; white-space:nowrap;">{{f.progress}}%</span></uib-progressbar>
  </div>
  <br>
</div>

<div class="row col-lg-10" ng-if="addresses.length>0">
  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-body">
        <table class="table table-hover">
          <thead>
          <tr>
            <th>Entity Name</th>
            <th>Address</th>
            <th>Latitude</th>
            <th>Longitude</th>
            <th>Action</th>
          </tr>
          </thead>
          <tr ng-repeat="address in addresses">
            <td>{{address.name}}</td>
            <td>{{address.address}}</td>
            <td>{{address.lat}}</td>
            <td>{{address.lng}}</td>
            <td><a class="btn btn-default btn-circle" ng-click="editOrCreateAddress(address)" ng-show="!geoResultsBool"><i class="fa fa-pencil"></i></a>
              <a class="btn btn-default btn-circle" ng-click="deleteAddress(address)" ng-show="!geoResultsBool"><i class="fa fa-minus"></i></a>
              <a class="btn btn-default btn-circle" ng-click="centerMap(address)" ng-show="geoResultsBool"><i class="fa fa-location-arrow"></i></a>
            </td>
          </tr>
        </table>
        <a ng-click="editOrCreateAddress()" class="btn btn-default btn-circle pull-right"><i class="fa fa-plus"></i></a>
        <!--<a ng-click="uploadAddress()" class="btn btn-default btn-circle"><i class="fa fa-upload"></i></a>-->
        <a ng-show="geoResultsBool" ng-csv="addresses" filename="addresses.csv" csv-header="['ID', 'Entity Name', 'Address', 'Latitude', 'Longitude' ]" class="btn btn-default btn-circle"><i class="fa fa-download"></i></a>
        <!--<ng-csv-import-->
            <!--class="import"-->
            <!--content="csv.content"-->
            <!--header="csv.header"-->
            <!--header-visible="csv.headerVisible"-->
            <!--separator="csv.separator"-->
            <!--separator-visible="csv.separatorVisible"-->
            <!--result="csv.result"-->
            <!--encoding="csv.encoding"-->
            <!--encoding-visible="csv.encodingVisible">-->
        <!--</ng-csv-import>-->
      </div>
    </div>
  </div>
  <div class="col-lg-4" ng-show="addAddressBool">
    <div class="panel panel-default">
      <div class="panel-body">
        <form class="form-horizontal" role="form" ng-submit="saveAddressEdit(currentAddress)">
          <div class="form-group">
            <label for="name" class="col-sm-2 control-label">Entity name</label>
            <div class="col-sm-10">
              <input type="text" ng-model="currentAddress.name" class="form-control" id="title" placeholder="Entity name here"/>
            </div>
          </div>
          <div class="form-group">
            <label for="client" class="col-sm-2 control-label">Address</label>
            <div class="col-sm-10">
              <input type="text" ng-model="currentAddress.address" class="form-control" id="client" placeholder="Address here"/>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <input type="submit" class="btn btn-primary" value="Save"/>
              <a class="btn btn-primary btn-danger" ng-click="cancelAddressEdit()">Cancel</a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="col-lg-10 ">
    <a class="btn-sm btn-primary" href='' ng-click="submitGeoSearch()">Submit job</a>
    <a class="btn-sm btn-primary" href='' ng-click="geoRefresh()">Refresh status</a>
  </div>
</div>

<!--<div class="row" ng-show="progressBool && calculateProgressAddress(addresses)<1">-->
  <!--<div class="col-md-12">-->
    <!--<progressbar animate="false" value="calculateProgressAddress(addresses)" type="success" max="1"><b>{{calculateProgressAddress(addresses)*100|number:0}}%</b></progressbar>-->
  <!--</div>-->
<!--</div>-->



<div class="row" >
</div>

<!--<div class="row">-->
  <!--<div class="col-lg-6">-->
    <!--<div class="panel panel-default">-->
      <!--<div class="panel-heading">-->
        <!--Google Map-->
      <!--</div>-->
      <!--<div class="panel-body">-->
        <!--<ui-gmap-google-map center='mapData.map.center' zoom='mapData.map.zoom'>-->
          <!--<ui-gmap-marker ng-repeat="m in mapData.markers" coords="m" idKey="m.id">-->
          <!--</ui-gmap-marker>-->
        <!--</ui-gmap-google-map>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->