
<ol class="breadcrumb">
  <li><a href="/#/projects">Projects</a></li>
  <li><a ng-href="/#/projects/{{currentProject.id}}/geo">GeoSearch</a></li>
  <li><a ng-href="/#/projects/{{currentProject.id}}/google">Google Search</a></li>
</ol>



<div id="gsearch-box" class="text-center">
  <form class="form-inline">
    <div class="btn-group" uib-dropdown is-open="status.isopen">
      <button id="single-button" type="button" class="btn btn-default" uib-dropdown-toggle ng-disabled="disabled">
        {{currentSource}} <span class="caret"></span>
      </button>
      <ul class="uib-dropdown-menu" role="menu" aria-labelledby="single-button">
        <li ng-repeat="choice in dataSources">
          <a href ng-click="selectDataSource(choice)">{{choice}}</a>
        </li>
      </ul>
    </div>
    <div class="form-group ">
      <input id="gsearch-input" type="text" class="form-control" ng-model="search.string" placeholder="Search something"/>
      <button class="btn btn-primary" ng-click="submitSearch()">search</button>
      <button type="button" class="btn btn-default" ng-click="openGenSearch('gensearch')">Advanced search</button>
    </div>
  </form>
</div>

<div class="row content-container">
  <div class="col-md-3" >
    <div class="panel panel-default">
      <div class="panel-heading">
        Existing Searches
        <button ng-if="!onlyMine" class="btn btn-primary btn-sm pull-right" ng-click="toggleOnlyMine()">show mine</button>
        <button ng-if="onlyMine" class="btn btn-primary btn-sm pull-right" ng-click="toggleOnlyMine()">show all</button>
      </div>
      <div class="panel-body">
        <table class="table table-striped">
          <thead>
            <th>
              <input type="text" class="form-control" ng-model="searchQuery" placeholder="Looking for a search?"/>
            </th>
          </thead>
          <tr ng-class="{warning: displaySearch.id == search.id}" ng-repeat="search in searches | filter:searchQuery">
            <td>
              <a ng-click="setDisplaySearch(search)" class="list-link">
                <span class="list-link-label small">{{search.string}}</span>
              </a>
            </td>
            <td>
              <a class="btn btn-default btn-circle" ng-click="toggleSearchJunk(search)" uib-tooltip="mark this search as irrelevant"><i class="fa fa-close"></i></a>
            </td>
          </tr>
        </table>
        <nav class="text-center" ng-if="searchPager.total>20">
          <paging class="small" page="searchPager.currentPage" page-size="20" total="searchPager.total" adjacent="{{adjacent}}" dots="{{dots}}"
                  scroll-top="{{scrollTop}}" hide-if-empty="{{hideIfEmpty}}" ul-class="{{ulClass}}" active-class="{{activeClass}}"
                  disabled-class="{{disabledClass}}" show-prev-next="{{showPrevNext}}" paging-action="listSearches(page)">
          </paging>
        </nav>
      </div>
    </div>
  </div>

  <div class="col-md-9">
    <div class="panel panel-default">
      <div class="panel-heading">
        {{total}} search results: {{displaySearch.string}}
      </div>
      <div class="panel-body">
          <table st-table="displayedGdocs" st-safe-src="displaySearchDocs" class="table table-striped">
            <thead>
            <tr>
              <!--<th style="width: 30px;"></th>-->
              <th> <input st-search="title" placeholder="filter by title" class="input-sm form-control" type="search"/> </th>
              <th> <input st-search="snippet" placeholder="filter by snippet" class="input-sm form-control" type="search"/> </th>
              <th> </th>
              <th style="width: 30px;"></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat-start="gdoc in displayedGdocs | orderBy:rank">
              <!--<td>-->
                <!--<a ng-click="review()" class="btn btn-default btn-circle"><i class="fa fa-expand"></i></a>-->
              <!--</td>-->
              <td><a href="" ng-click="openGdoc('gdoc', gdoc)" ng-bind-html="gdoc.hltitle"> </a></td>
              <td ng-bind-html="gdoc.hlsnippet"></td>
              <td><a href="{{gdoc.url}}" target="_blank">link</a></td>
              <td><a class="btn btn-default btn-circle" ng-click="deleteGdoc(gdoc)" uib-tooltip="Delete article"><i class="fa fa-close"></i></a></td>
            </tr>
            <tr ng-if="gdoc.expanded" ng-repeat-end="">
              <!--<td colspan="5">{{gdoc.text}}</p></td>-->
            </tr>
            </tbody>
            <tfoot>
            <tr>
              <td colspan="5" class="text-center">
              </td>
            </tr>
            </tfoot>
          </table>
        <nav class="text-center" ng-if="gdocPager.total>20">
          <paging class="small" page="gdocPager.currentPage" page-size="20" total="gdocPager.total" adjacent="{{adjacent}}" dots="{{dots}}"
                  scroll-top="{{scrollTop}}" hide-if-empty="{{hideIfEmpty}}" ul-class="{{ulClass}}" active-class="{{activeClass}}"
                  disabled-class="{{disabledClass}}" show-prev-next="{{showPrevNext}}" paging-action="getGdocs(displaySearch, page)">
          </paging>
        </nav>
        <div class="text-center">
          <span>total {{gdocPager.total}} results</span>
          <button class="btn btn-primary btn-small" ng-click="moreSearch(1)"> Get next page</button>
          <button class="btn btn-primary btn-small" ng-click="getGdocs(displaySearch, gdocPager.currentPage)"> refresh </button>
        </div>
      </div>
    </div>
  </div>
</div>



