<ol class="breadcrumb" xmlns="http://www.w3.org/1999/html">
  <li><a href="/#/projects"><span class="glyphicon glyphicon-folder-open"></span> Projects</a></li>
  <li><a ng-href="/#/projects/{{currentProject.id}}/geo"><span class="glyphicon glyphicon-globe"></span> GeoSearch</a></li>
  <li><a ng-href="/#/projects/{{currentProject.id}}/google"><span class="glyphicon glyphicon-search"></span> Google Search</a></li>
</ol>
<!--div ng-dropdown-multiselect="" search-filter="customFilter" options="example15data" selected-model="example15model" extra-settings="example15settings"></div-->

<div id="gsearch-box" class="text-center">
  <form class="form-inline">
    <div class="btn-group" uib-dropdown is-open="status.isopen">
      <button id="single-button" type="button" class="btn btn-default" uib-dropdown-toggle ng-disabled="disabled">
        {{currentSource}} <span class="caret"></span>
      </button>
      <ul class="uib-dropdown-menu" role="menu" aria-labelledby="single-button">
        <li ng-repeat="choice in dataSources">
          <a href ng-click="selectDataSource(choice)">{{choice}}</a>
        </li>
      </ul>
    </div>
    <div class="form-group ">
      <input id="gsearch-input" type="text" class="form-control" ng-model="search.string" placeholder="Search something"/>
      <button class="btn btn-primary" ng-click="submitSearch()">search</button>
      <button type="button" class="btn btn-default" ng-click="openGenSearch('gensearch')">Advanced search</button>
      <button type="button" class="btn btn-success" ng-click="activeSearch() "><span class="glyphicon glyphicon-filter"></span> Relevance Filter </button>
    </div>
  </form>
</div>

<div class="row content-container">
  <div class="col-md-3" >
    <div class="panel panel-default">
      <div class="panel-heading col-md-12">
        <div class="col-md-9"> Existing Searches</div>
        <div class="col-md-3">
          <button ng-if="!onlyMine" class="btn btn-primary btn-sm pull-right" ng-click="toggleOnlyMine()">show mine</button>
          <button ng-if="onlyMine" class="btn btn-primary btn-sm pull-right" ng-click="toggleOnlyMine()">show all</button>
        </div>
      </div>
      <div class="panel-body">
        <table class="table table-striped">
          <thead>
            <th>
              <input type="text" class="form-control" ng-model="searchQuery" placeholder="Looking for a search?"/>
            </th>
          </thead>
          <tr ng-class="{warning: reviewLaterActive == true}">
            <td>
              <a ng-click="getReviewLater(1)"  class="list-link">
                <span class="list-link-label small">Items saved</span>
              </a>
            </td>
            <td> </td>
          </tr>
          <tr ng-class="{warning: displaySearch.id == search.id}" ng-repeat="search in searches | filter:searchQuery">
            <td>
              <a ng-click="setDisplaySearch(search)" class="list-link">
                <span class="list-link-label small" uib-tooltip="{{search.createdAt| date:'dd-MMMM-yyyy HH:mm Z' }}"><span class="label label-default"> {{ search.username }}</span>  {{search.string}}</span>
              </a>
            </td>
            <td>
              <a class="btn btn-default btn-circle" ng-click="toggleSearchJunk(search)" uib-tooltip="mark this search as irrelevant"><i class="fa fa-close"></i></a>
            </td>
          </tr>
        </table>
        <nav class="text-center" ng-if="searchPager.total>20">
          <paging class="small" page="searchPager.currentPage" page-size="20" total="searchPager.total" adjacent="{{adjacent}}" dots="{{dots}}"
                  scroll-top="{{scrollTop}}" hide-if-empty="{{hideIfEmpty}}" ul-class="{{ulClass}}" active-class="{{activeClass}}"
                  disabled-class="{{disabledClass}}" show-prev-next="{{showPrevNext}}" paging-action="listSearches(page)">
          </paging>
        </nav>
      </div>
    </div>
  </div>

  <div class="col-md-9">
    <div class="panel panel-default">
      <div class="panel-heading col-md-12">
        <div class="col-md-11">
          {{total}} search results: {{displaySearch.string}}
        </div>
        <!--<td align="right"><select style="width: 200px;" class="form-control" id="a" ng-model="sortOption" ng-init="sortOption='rank'" ng-options="option for option in filterOptions" ng-change="sortOptionChanged(displaySearch)">-->
        <!--</select></td>-->
        <div class="btn-group col-md-1" uib-dropdown>
          <button id="sort-button" type="button" class="btn btn-primary btn-sm" uib-dropdown-toggle>
            sort by <span class="caret"></span>
          </button>
          <ul class="uib-dropdown-menu" role="menu" aria-labelledby="sort-button">
            <li role="menuitem"><a href ng-click='sortBy("rank")'>google rank</a></li>
            <li role="menuitem"><a href ng-click='sortBy("relevance")'>relevance</a></li>
          </ul>
        </div>
      </div>

      <div class="panel-body">
          <table st-table="displayedGdocs" st-safe-src="displaySearchDocs" class="table table-striped">
            <thead>
            <tr>
              <!--<th style="width: 30px;"></th>-->
              <th></th>
              <th> <input st-search="hltitle" placeholder="filter by title" class="input-sm form-control" type="search"/> </th>
              <th> <input st-search="hlsnippet" placeholder="filter by snippet" class="input-sm form-control" type="search"/> </th>
              <th></th>
              <!--<th>User Review</th>-->
              <th ng-show="_relevanceScore==1">Relevance</th>
              <!--<th style="width: 30px;"></th>-->
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat-start="gdoc in displayedGdocs | orderBy:rank" >
              <!--<td>-->
                <!--<a ng-click="review()" class="btn btn-default btn-circle"><i class="fa fa-expand"></i></a>-->
              <!--</td>-->
              <!--<td><br><span class="label" ng-class="{'label-danger': gdoc.relevance=='n'||gdoc.relevance==null, 'label-warning': gdoc.relevance=='m', 'label-success': gdoc.relevance=='y'}" ng-show="gdoc.relevance">{{gdoc.relevance| uppercase}}</span></td>-->
              <td>
                <div class="btn-group col-md-1" uib-dropdown>
                  <span id="relevance-button" uib-tooltip="mark relevance"
                          type="button"
                          ng-class="{'label-danger': gdoc.relevance=='n', '': gdoc.relevance==null, 'label-warning': gdoc.relevance=='m', 'label-success': gdoc.relevance=='y'}"
                          class="btn btn-primary btn-sm" uib-dropdown-toggle>
                    {{gdoc.relevance|uppercase}} <span class="caret"></span>
                  </span>
                  <ul class="uib-dropdown-menu" role="menu" aria-labelledby="relevance-button">
                    <li role="menuitem"><a href ng-click="updateRelevance(gdoc,'y')">yes</a></li>
                    <li role="menuitem"><a href ng-click="updateRelevance(gdoc,'m')">maybe</a></li>
                    <li role="menuitem"><a href ng-click="updateRelevance(gdoc,'n')">no</a></li>
                  </ul>
                </div>
              </td>
              <td><a href="" ng-click="openGdoc('gdoc', gdoc)" ng-bind-html="gdoc.hltitle"> </a></td>
              <td ng-bind-html="gdoc.hlsnippet"></td>
              <td><a href="{{gdoc.url}}" target="_blank">link</a></td>
              <!--<td><nobr>-->
                <!--<input type="radio" name="{{ gdoc }}" ng-checked="gdoc.relevance=='y'" value="y" ng-model="gdoc.relevance" ng-click="updateRelevance(gdoc,'y')" uib-tooltip="Relevant"> Y-->
                <!--<input type="radio" name="{{ gdoc }}"  ng-checked="gdoc.relevance=='m'" value="m"  ng-model="gdoc.relevance" ng-click="updateRelevance(gdoc,'m')" uib-tooltip="Probably Relevant"> M-->
                <!--<input type="radio" name="{{ gdoc }}"  ng-checked="gdoc.relevance=='n'" value="n"  ng-model="gdoc.relevance" ng-click="updateRelevance(gdoc,'n')" uib-tooltip="Not Relevant"> N-->
              <!--</nobr></td>-->
              <td>
              <div ng-show="gdoc.predictedScore != null">
                  <div ng-if="gdoc.predictedScore<0"><h4><span class="label label-default">{{0}}</span></h4></div>
                  <div ng-if="gdoc.predictedScore>1"><h4><span class="label label-success">{{1}}</span></h4></div>
                  <div ng-if="gdoc.predictedScore>=0 && gdoc.predictedScore<=1"><h4><span class="label" ng-class="{'label-default': gdoc.predictedScore<0.1, 'label-danger': gdoc.predictedScore>=0.10 && gdoc.predictedScore<0.3, 'label-warning': gdoc.predictedScore>=0.3 && gdoc.predictedScore<0.5, 'label-info': gdoc.predictedScore>=0.5 && gdoc.predictedScore<0.6,'label-primary': gdoc.predictedScore>=0.6 && gdoc.predictedScore<0.8, 'label-success': gdoc.predictedScore>=0.8}" ng-show="gdoc.predictedScore">{{gdoc.predictedScore| number:3}}</span></h4></div>

              </div>
              </td>
              <!--<td><a class="btn btn-default btn-circle" ng-click="deleteGdoc(gdoc)" uib-tooltip="Delete article"><i class="fa fa-close"></i></a></td>-->

            </tr>
            <tr ng-if="gdoc.expanded" ng-repeat-end="">
              <!--<td colspan="5">{{gdoc.text}}</p></td>-->
            </tr>
            </tbody>
            <tfoot>
            <tr>
              <td colspan="5" class="text-center">
              </td>
            </tr>
            </tfoot>
          </table>
        <nav class="text-center" ng-if="gdocPager.total>20">
          <paging class="small" page="gdocPager.currentPage" page-size="20" total="gdocPager.total" adjacent="{{adjacent}}" dots="{{dots}}"
                  scroll-top="{{scrollTop}}" hide-if-empty="{{hideIfEmpty}}" ul-class="{{ulClass}}" active-class="{{activeClass}}"
                  disabled-class="{{disabledClass}}" show-prev-next="{{showPrevNext}}" paging-action="reviewLaterActive? getReviewLater(page): getGdocs(displaySearch, page)">
          </paging>
        </nav>
        <div class="text-center" ng-if="!reviewLaterActive">
          <span>total {{gdocPager.total}} results</span>
          <button class="btn btn-primary btn-small" ng-click="moreSearch(1)"> Get next page</button>
          <button class="btn btn-primary btn-small" ng-click="getGdocs(displaySearch, gdocPager.currentPage)"> refresh </button>
        </div>
      </div>
    </div>
  </div>
</div>



