<div id="main_content">
    Welcome to {{currentProject.name}} project for {{currentProject.client}} client!
    <table class="table table-hover">
        <thead>
        <tr>
            <th>Search String</th>
            <!--<th>Created At</th>-->
            <!--<th>ID</th>-->
            <th>Action</th>
        </tr>
        </thead>
        <tr ng-repeat="search in searches">
            <td>{{search.string}}</td>
            <!--<td>{{search.createdAt}}</td>-->
            <!--<td>{{search.id}}</td>-->
            <td>
                <!--<a class="btn-sm btn-primary" ng-click="editOrCreateSearch(search)">Edit</a>-->
                <a class="btn-sm btn-danger" ng-click="deleteSearch(search)">Delete</a>
            </td>
        </tr>
    </table>
    <a class="btn btn-primary btn-sm" ng-click="editOrCreateSearch()">Add New Search</a>
    <a class="btn btn-primary btn-sm" ng-click="showGdocs()">Show/Hide Search Results</a>
    <form class="form-horizontal" role="form" ng-submit="saveEdit(currentSearch)" ng-show="displayMode == 'edit'">
        <div class="form-group">
            <label for="name" class="col-sm-2 control-label">Search String</label>
            <div class="col-sm-10">
                <input type="text" ng-model="currentSearch.string" class="form-control" id="string" placeholder="Search String Here"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <input type="submit" class="btn btn-primary" value="Save"/>
                <a class="btn btn-primary btn-danger" ng-click="cancelEdit()">Cancel</a>
            </div>
        </div>
    </form>
    <table class="table table-hover" ng-show="boolGdocs">
        <thead>
        <tr>
            <th>Title</th>
            <!--<th>Created At</th>-->
            <!--<th>ID</th>-->
            <th>Snippet</th>
            <th>Link</th>
        </tr>
        </thead>
        <tr ng-repeat="gdoc in gdocs">
            <td>{{gdoc.title}}</td>
            <td>{{gdoc.snippet}}</td>
            <td><a href="{{gdoc.url}}">{{gdoc.url}}</a></td>
        </tr>
    </table>
</div>
