<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>CAFI Supply Chain Due Dilligence</title>
    <meta name="description" content="A platform for CAFI to conduct supply chain risk research">

<!--[if lt IE 9]>      <link rel="stylesheet" href="/static/css/main.ie.min.css"> <![endif]-->
<!--[if gt IE 8]><!--> <link rel="stylesheet" href="/static/css/main.min.css"> <!--<![endif]-->
<!--[if lt IE 9]>
    <script src="/vendor/html5shiv/html5shiv-printshiv.min.js"></script>
<![endif]-->
    <script>
        // Confirm availability of JS and remove no-js class from html
        var docElement = document.documentElement;
        docElement.className = docElement.className.replace(/(^|\s)no-js(\s|$)/, '$1$2');
    </script>
</head>

<body ng-app="cafiApp" ng-controller="projectListCtrl">
  {% verbatim %}
  <div class="wrapper">
     <table class="table table-hover">
      <thead>
        <tr>
          <th> Project </th> 
          <th> Client </th>
        </tr>
      </thead>
      <tr ng-repeat="project in projects | filter:query | orderBy:orderProp">
        <td> {{project.name}}</td>
        <td> {{project.client}}</td>
      </tr>
     </table>
    <!-- <div ng-view class="view-frame"></div> -->
  </div>
  {% endverbatim %}

<script src="/static/js/main.js"></script>
<!-- THE BELOW SCRIPT IS DEV ONLY - TODO: SET DEV FLAG -->
<!-- <script src="http://localhost:35729/livereload.js"></script> -->
</body>